.carrossel__titulo{
    background-color: var(--branco);
    color: var(--laranja);
    font-size: 18px;
    font-weight: 700;
    padding: 1rem 0 0.5rem 0;
    text-align: center;
    text-transform: uppercase;
}

.swiper{
    width: 50%;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{ 
    display: none;
}

.swiper-pagination{
    position: initial;
}

.card{
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1rem;
    padding: 1rem; 
}

.card__descricao, .card__autor{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.descricao__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo-livro{
    color: var(--azul-escuro);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5rem 0;
}

.descricao__texto{
    font-size: 14px;
}

.card__botoes{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}

.botoes__item{
    margin: 0 0.5rem;
}

.botoes__ancora{
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    padding: 1rem calc(2rem - 5.5px);
    text-decoration: none;
}

.estrelas-destaque{
    background: url("../imagens/Estrelinhas.png") no-repeat;
    display: block;
    height: 25px;
    width: 150px;
}

@media screen and (min-width: 1024px){
    .carrossel__titulo{
        font-size: 26px;
        padding: 2.2rem 0 1rem 0;
    }

    .swiper-pagination{
        margin: 2rem 0 3rem 0;
    }

    .swiper{
        width: 60%;
    }

    .swiper-button-next, .swiper-button-prev{
        display: block;
        top: 60%;
    }

    .card{
        margin: 2rem auto;
        width: 40%;
    }

    .descricao__texto{
        width: calc(100% - 10px);
    }
}

@media screen and (min-width: 1728px){
    .carrossel__container{
        align-items: center;
        display: flex;
        margin: 0 20vw 3rem 20vw;
        padding: 3rem 0;
    }

    .swiper{
        width: 60%;
    }

    .card, .swiper-pagination{
        margin: 0;
    }

    .swiper-pagination{
        margin: 1rem 0;
    }

    .card{
        width: 60%;
        margin-left: 3rem;
    }

    .descricao{
        margin-right: 1rem;
    }

    .descricao__titulo{
        font-size: 32px;
    }

    .descricao__texto{
        font-size: 18px;
    }

}