.cabecalho{
    align-items: center;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container{
    align-items: center;
    display: flex;
}

.container__imagem{
    padding: 1rem;
    width: 2.5rem;
}

.cabecalho__menu-hamburger{
    background: url("../imagens/Menu.svg") no-repeat center;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    z-index: 4;
}

/* ~(Combinador CSS) procura o elemento que vem depois */

.container__botao:checked ~ .lista-menu{
    display: block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburger{
    background: url('../imagens/Menu_aberto.svg') no-repeat center;
}

.container__botao:checked ~ .container__rotulo{
    background: var(--azul-degrade);
}

.container__botao, .opcoes, .container__titulo, .container__texto{
    display: none;
}

.lista-menu__titulo, .lista-menu__item{
    background: var(--branco);
    padding: 1rem;
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px){
    .container__imagem-transparente, .cabecalho__menu-hamburger, .opcoes__botao, .container__texto{
        display: none;
    }
    
    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 300;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1rem;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao:checked ~.opcoes__rotulo > .opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item{
        padding: 2rem 1rem;
    }

    .lista-menu__link{
        padding: 1rem 1rem;
    }

    .lista-menu__item:hover{
        background: var(--azul-degrade);
    }

    .lista-menu__item > .lista-menu__link:hover{
        text-decoration: none;
        -webkit-text-fill-color: var(--branco);
    }

}

@media screen and (min-width: 1728px){
    .container__link{
        align-items: center;
        color: var(--preto);
        display: flex;
        text-decoration: none;
    }

    .container__texto{
        display: block;
    }

    .cabecalho{
        padding: 0 1.4rem;
    }

    .opcoes{
        margin-right: auto;
    }

}